# API
NUXT_PUBLIC_API_BASE=http://localhost:8080
NUXT_PUBLIC_VERIFIER_BASE=http://localhost:8081

# Clerk
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_key_here
NUXT_CLERK_SECRET_KEY=sk_test_your_key_here
